-- ================================================
-- 📘 Lost & Found Platform - PostgreSQL Schema
-- Version: 2025.11
-- Author: Hong Dat (DTU)
-- ================================================

-- ===========================
-- Drop tables (rebuild)
-- ===========================
DROP TABLE IF EXISTS "Lost_Post_Images" CASCADE;
DROP TABLE IF EXISTS "Found_Post_Images" CASCADE;
DROP TABLE IF EXISTS "Lost_Images" CASCADE;
DROP TABLE IF EXISTS "Found_Images" CASCADE;
DROP TABLE IF EXISTS "Lost_Post" CASCADE;
DROP TABLE IF EXISTS "Found_Post" CASCADE;
DROP TABLE IF EXISTS "Match_Post" CASCADE;
DROP TABLE IF EXISTS "Notification" CASCADE;
DROP TABLE IF EXISTS "Email_log" CASCADE;
DROP TABLE IF EXISTS "Email_template" CASCADE;
DROP TABLE IF EXISTS "Email_Type" CASCADE;
DROP TABLE IF EXISTS "Location" CASCADE;
DROP TABLE IF EXISTS "Account" CASCADE;

-- ===========================
-- Custom type
-- ===========================
CREATE TYPE post_status AS ENUM ('Pending', 'Approved', 'Rejected', 'Resolved');

-- ===========================
-- TABLE: Account
-- ===========================
CREATE TABLE "Account" (
  account_id SERIAL PRIMARY KEY,
  email VARCHAR(255) NOT NULL UNIQUE,
  password VARCHAR(255) NOT NULL,
  role VARCHAR(20) NOT NULL DEFAULT 'Student' CHECK (role IN ('Student', 'Admin')),
  user_name VARCHAR(255),
  avatar VARCHAR(255),
  phone_number VARCHAR(50),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ===========================
-- TABLE: Location
-- ===========================
CREATE TABLE "Location" (
  location_id SERIAL PRIMARY KEY,
  address VARCHAR(255) NOT NULL,
  building VARCHAR(100),
  room VARCHAR(100) NOT NULL
);

-- ===========================
-- TABLE: Lost_Post
-- ===========================
CREATE TABLE "Lost_Post" (
  lost_post_id SERIAL PRIMARY KEY,
  account_id INTEGER NOT NULL REFERENCES "Account"(account_id),
  post_title VARCHAR NOT NULL,
  item_name VARCHAR,
  location_id INTEGER REFERENCES "Location"(location_id),
  status post_status DEFAULT 'Pending',
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  deleted_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_scanned_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ===========================
-- TABLE: Found_Post
-- ===========================
CREATE TABLE "Found_Post" (
  found_post_id SERIAL PRIMARY KEY,
  account_id INTEGER NOT NULL REFERENCES "Account"(account_id),
  post_title VARCHAR NOT NULL,
  item_name VARCHAR,
  location_id INTEGER REFERENCES "Location"(location_id),
  status post_status DEFAULT 'Pending',
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  deleted_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  last_scanned_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ===========================
-- TABLE: Lost_Images
-- ===========================
CREATE TABLE "Lost_Images" (
  lost_img_id SERIAL PRIMARY KEY,
  link_picture VARCHAR NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  deleted_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ===========================
-- TABLE: Found_Images
-- ===========================
CREATE TABLE "Found_Images" (
  found_img_id SERIAL PRIMARY KEY,
  link_picture VARCHAR NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  deleted_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ===========================
-- Lost_Post_Images (junction)
-- ===========================
CREATE TABLE "Lost_Post_Images" (
  lost_post_id INTEGER NOT NULL REFERENCES "Lost_Post"(lost_post_id) ON DELETE CASCADE,
  lost_img_id INTEGER NOT NULL REFERENCES "Lost_Images"(lost_img_id) ON DELETE CASCADE,
  PRIMARY KEY (lost_post_id, lost_img_id)
);

-- ===========================
-- Found_Post_Images (junction)
-- ===========================
CREATE TABLE "Found_Post_Images" (
  found_post_id INTEGER NOT NULL REFERENCES "Found_Post"(found_post_id) ON DELETE CASCADE,
  found_img_id INTEGER NOT NULL REFERENCES "Found_Images"(found_img_id) ON DELETE CASCADE,
  PRIMARY KEY (found_post_id, found_img_id)
);

-- ===========================
-- TABLE: Match_Post
-- ===========================
CREATE TABLE "Match_Post" (
  match_id SERIAL PRIMARY KEY,
  found_post_id INTEGER NOT NULL REFERENCES "Found_Post"(found_post_id),
  lost_post_id INTEGER NOT NULL REFERENCES "Lost_Post"(lost_post_id),
  confidence_score DECIMAL(5,2) NOT NULL,
  matched_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ===========================
-- TABLE: Notification
-- ===========================
CREATE TABLE "Notification" (
  notification_id SERIAL PRIMARY KEY,
  account_id INTEGER REFERENCES "Account"(account_id) ON DELETE CASCADE,
  match_id INTEGER REFERENCES "Match_Post"(match_id) ON DELETE CASCADE,
  link VARCHAR(500) NOT NULL,
  type VARCHAR(20) NOT NULL CHECK (type IN ('AI_Match', 'Chat')),
  message VARCHAR(500),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ===========================
-- TABLE: Email_Type
-- ===========================
CREATE TABLE "Email_Type" (
  email_type_id SERIAL PRIMARY KEY,
  name VARCHAR(100),
  code VARCHAR(100),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ===========================
-- TABLE: Email_template
-- ===========================
CREATE TABLE "Email_template" (
  email_template_id SERIAL PRIMARY KEY,
  title VARCHAR(255),
  body TEXT,
  status INT,
  email_type_id INTEGER REFERENCES "Email_Type"(email_type_id) ON DELETE SET NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ===========================
-- TABLE: Email_log
-- ===========================
CREATE TABLE "Email_log" (
  email_log_id SERIAL PRIMARY KEY,
  account_id INTEGER NOT NULL REFERENCES "Account"(account_id) ON DELETE CASCADE,
  email_template_id INTEGER NOT NULL REFERENCES "Email_template"(email_template_id) ON DELETE CASCADE,
  sent_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  email_content TEXT
);

-- ===========================
-- FUNCTIONS
-- ===========================

-- Function: sp_CreateAccount
CREATE OR REPLACE FUNCTION sp_createaccount(
  p_email VARCHAR,
  p_password VARCHAR,
  p_user_name VARCHAR,
  p_phone_number VARCHAR DEFAULT NULL
) RETURNS TABLE (account_id INT, email VARCHAR, role VARCHAR) AS $$
BEGIN
  IF EXISTS (SELECT 1 FROM "Account" WHERE email = p_email) THEN
    RAISE EXCEPTION 'Email already exists';
  END IF;

  INSERT INTO "Account" (email, password, user_name, phone_number, role, created_at)
  VALUES (p_email, p_password, p_user_name, p_phone_number, 'Student', CURRENT_TIMESTAMP)
  RETURNING account_id, email, role INTO account_id, email, role;

  RETURN NEXT;
END;
$$ LANGUAGE plpgsql;

-- Function: sp_Login
CREATE OR REPLACE FUNCTION sp_login(p_email VARCHAR)
RETURNS TABLE (
  account_id INT,
  email VARCHAR,
  password VARCHAR,
  role VARCHAR,
  user_name VARCHAR,
  avatar VARCHAR,
  phone_number VARCHAR
) AS $$
BEGIN
  RETURN QUERY
  SELECT account_id, email, password, role, user_name, avatar, phone_number
  FROM "Account"
  WHERE email = p_email
  LIMIT 1;
END;
$$ LANGUAGE plpgsql;

-- Function: sp_GetStudentAccounts
CREATE OR REPLACE FUNCTION sp_getstudentaccounts()
RETURNS TABLE (
  account_id INT,
  email VARCHAR,
  role VARCHAR,
  user_name VARCHAR,
  avatar VARCHAR,
  phone_number VARCHAR,
  created_at TIMESTAMP
) AS $$
BEGIN
  RETURN QUERY
  SELECT account_id, email, role, user_name, avatar, phone_number, created_at
  FROM "Account"
  WHERE role = 'Student'
  ORDER BY created_at DESC;
END;
$$ LANGUAGE plpgsql;
-- Tạo table Category
CREATE TABLE "Category" (
  category_id SERIAL PRIMARY KEY,
  name VARCHAR(100) NOT NULL,
  type VARCHAR(20) NOT NULL CHECK (type IN ('Lost', 'Found')),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

--Thêm constraint
ALTER TABLE "Lost_Post"
ADD COLUMN category_id INTEGER REFERENCES "Category"(category_id);

ALTER TABLE "Found_Post"
ADD COLUMN category_id INTEGER REFERENCES "Category"(category_id);

--Bổ sung description cho Lost và Found_Post

ALTER TABLE "Lost_Post"
ADD COLUMN description TEXT;

ALTER TABLE "Found_Post"
ADD COLUMN description TEXT;

-- Tối ưu INDEX

CREATE INDEX idx_lost_post_created ON "Lost_Post"(created_at DESC);
CREATE INDEX idx_lost_post_status ON "Lost_Post"(status);
CREATE INDEX idx_lost_post_title_search ON "Lost_Post" 
  USING gin(to_tsvector('english', post_title));

CREATE INDEX idx_found_post_created ON "Found_Post"(created_at DESC);
CREATE INDEX idx_found_post_status ON "Found_Post"(status);
CREATE INDEX idx_found_post_title_search ON "Found_Post" 
  USING gin(to_tsvector('english', post_title));

CREATE INDEX idx_lost_post_category ON "Lost_Post"(category_id);
CREATE INDEX idx_found_post_category ON "Found_Post"(category_id);


-- Chỉnh sửa lại timestamp cho delete_at

ALTER TABLE "Lost_Post"
ALTER COLUMN deleted_at DROP DEFAULT;

ALTER TABLE "Found_Post"
ALTER COLUMN deleted_at DROP DEFAULT;

--Tạo chức năng lấy ảnh cho Lost_Post

CREATE OR REPLACE FUNCTION get_lost_post_images(p_id INT)
RETURNS TEXT[] AS $$
BEGIN
  RETURN ARRAY(
    SELECT li.link_picture
    FROM "Lost_Post_Images" lpi
    JOIN "Lost_Images" li ON li.lost_img_id = lpi.lost_img_id
    WHERE lpi.lost_post_id = p_id
  );
END;
$$ LANGUAGE plpgsql;

--Tạo chức năng lấy ảnh cho Found_Post

CREATE OR REPLACE FUNCTION get_found_post_images(p_id INT)
RETURNS TEXT[] AS $$
BEGIN
  RETURN ARRAY(
    SELECT fi.link_picture
    FROM "Found_Post_Images" fpi
    JOIN "Found_Images" fi ON fi.found_img_id = fpi.found_img_id
    WHERE fpi.found_post_id = p_id
  );
END;
$$ LANGUAGE plpgsql;

-- Trigger get timestamp cho category

CREATE OR REPLACE FUNCTION update_category_timestamp()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trg_update_category_timestamp
BEFORE UPDATE ON "Category"
FOR EACH ROW
EXECUTE FUNCTION update_category_timestamp();

--Format lại hiển thị Location 

CREATE OR REPLACE VIEW "Location_Full_View" AS
SELECT 
  location_id,
  CONCAT(
    COALESCE(building, ''),
    CASE WHEN building IS NOT NULL AND room IS NOT NULL THEN ' - ' ELSE '' END,
    COALESCE(room, ''),
    CASE WHEN address IS NOT NULL THEN ' - ' ELSE '' END,
    COALESCE(address, '')
  ) AS full_location
FROM "Location";
 
--Bỏ default deleted_at trong bảng Lost_Images và Found_Images

ALTER TABLE "Lost_Images"
ALTER COLUMN deleted_at DROP DEFAULT;

ALTER TABLE "Found_Images"
ALTER COLUMN deleted_at DROP DEFAULT;

--Trigger cập nhật updated_at cho Lost_Post và Found_Post

CREATE OR REPLACE FUNCTION update_post_timestamp()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

--Trigger cập nhật updated_at cho Lost_Post và Found_Post

CREATE TRIGGER trg_update_lost_post_timestamp
BEFORE UPDATE ON "Lost_Post"
FOR EACH ROW
EXECUTE FUNCTION update_post_timestamp();
--
CREATE TRIGGER trg_update_found_post_timestamp
BEFORE UPDATE ON "Found_Post"
FOR EACH ROW
EXECUTE FUNCTION update_post_timestamp();


